# macOS system files
.env
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
log.txt
*.tmp
*.bak
*.swp
*~

# Operating System temporary files
*~
.fuse_hidden*
.Trash-*
.nfs*

mlx_models/
